<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Xcode Tailscale Bridge</string>
	<key>CFBundleExecutable</key>
	<string>XcodeTailscaleBridge</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.petejkim.XcodeTailscaleBridge</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Xcode Tailscale Bridge</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Xcode Tailscale Bridge advertises your iOS devices to Xcode on this Mac and relays their connections over Tailscale.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_remotepairing._tcp</string>
	</array>
</dict>
</plist>
